@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #2d15e4, #cb5e62);
}

.calculator{
    border: 1px solid #042685;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(46, 29, 52);
    box-shadow: 5px 5px;

}

input{
    width: 320px;
    border-radius: 10px;
    padding: 24px;
    margin: 10px;
    background-color:aquamarine ;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #000000;
}

input::placeholder{
    color: #000000;
    
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background-color: ;
    color: #000000;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(246, 243, 243, 0.327);
    cursor: pointer;
}
.operator{
    background-color: rgb(214, 178, 18);
}

.equalBtn{
    background-color: #d81438;
}

.operator{
    color: hsl(0, 0%, 0%);
}